.flowerSlot {
  background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/flower.png');
}
.plumeSlot {
  background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/plume.png');
}
.gobletSlot {
  background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/goblet.png');
}
.sandsSlot {
  background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/sands.png');
}
.circletSlot {
  background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/circlet.png');
}

.artifactSlotsWrapper {
  display: flex;
}

.artifactSlot {
  width: 60px;
  height: 60px;
  background-size: cover;
}
