.flowerSlot { background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/flower.png'); }
.plumeSlot { background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/plume.png'); }
.gobletSlot { background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/goblet.png'); }
.sandsSlot { background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/sands.png'); }
.circletSlot { background-image:url('chrome-extension://__MSG_@@extension_id__/src/images/circlet.png'); }

.artifactSlotsWrapper {
  display: flex;
}

.artifactSlotsWrapper.disabled {
  display: none;
}

.artifactSlot {
  flex: 1;
  /* width: 60px; */
  height: 72px;
  background-size: cover;
}

.artifactSlot.check {
  position: relative;
}

.artifactSlot.check::after {
  content: '';
  background-image: url('https://i.imgur.com/x60nTNg.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.ItemPanel_paused__3_1VE ~ .artifactSlotsWrapper {
  opacity: .3;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.artifactTooltip {
  position: absolute;
  background-color: black;
  width: 300px;
  font-weight: 600;
}

.tooltipTitle {
  background: linear-gradient(160deg, rgba(105, 84, 83, 0.565) 0%, rgba(161, 112, 78, 0.565) 39%, rgba(228, 171, 82, 0.565) 100%);
  display: flex;
}

.tooltipTitleText {
  font-size: 18px;
  padding: 15px 0 15px 15px;
  flex-grow: 1;
  color: #f7f7f7;
}

.tooltipTitleText > span {
  font-size: 14px;
  color: #ccc;
}

.tooltipTitleIcon {
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  display: flex;
}

.tooltipTextWrapper {
  background-color: #ece5d8;
  color: #000;
  padding: 5px;
}

.tooltipText {
  padding: 2px 4px;
  margin: 2px;
}
